# Gradle
.gradle/
build/

# IDE (IntelliJ)
.idea/
*.iml
*.ipr
*.iws
out/

# Entorno de pruebas de Minecraft
run/
logs/
crash-reports/

# Archivos compilados sueltos
*.class
*.jar

# Dependencias locales de mods (no subir a GitHub; >100MB y no se versionan)
libs/
!libs/.gitkeep

# Sistema operativo
.DS_Store
Thumbs.db